
body {
    background: linear-gradient(#073c4d45, rgb(185, 244, 253));
}

h1 {
    color: brown;
}

h2 {
    color: rgb(46, 49, 223);
}

.informations {
    max-width: 45rem;
    margin: 4rem;
    padding: 3rem;
    border-radius: 5px;
    // border: rgb(149, 155, 163) 1px solid;
    box-shadow: 4px 10px 7px rgba(0, 0, 0, 0.25);
}

.nom, .prenoms, .choix, .date {
    margin: 20px;
}

.envoi {
    margin-left: 30rem;
    margin-top: 5px;
}

.send , .end {
    margin-left: 45rem;
    margin-top: 25px;
}

.questionnaires { 
    max-width: 60rem;
    // border: rgb(149, 155, 163) 1px solid;
    border-radius: 5px;
    padding: 2rem;
    margin: 4rem;
    box-shadow: 4px 10px 7px rgba(0, 0, 0, 0.25);  
}

.reponses { 
    max-width: 60rem;
    // border: rgb(149, 155, 163) 1px solid;
    border-radius: 5px;
    padding: 2rem;
    margin: 4rem;
    box-shadow: 4px 10px 7px rgba(0, 0, 0, 0.25);  
}

#selection, input {
    background: linear-gradient(#073c4d45, rgb(178, 210, 214));
}

th, td {
    // padding-left: 30px;
    text-align: center;
    background: linear-gradient(#073c4d45, rgb(178, 210, 214));
}

.bi-check {
    color: rgb(24, 143, 78);
    font-weight: bold;
}

.bi-x {
    color: red;
}